# Visual Studio Code
!.vscode/book-case_dotnet.code-workspace
# Visual Studio
.vs/

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
var/

!.env.example
.env
secret.gpg
.gitsecret/keys/random_seed
.gitsecret/keys/pubring.kbx~
.secrets/*/*
!**/*.secret
passwords.txt
build
.build
gcp-service-account-key.json
gcp-master-service-account-key.json
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.gitsecret/keys/random_seed

# => directory-specific .gitignore files from us
.build/*

# => keep ALL .gitignore files
!**.gitignore
secret_password.txt
